@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}




/*style header logo*/

.logo h1 {
    font-family: 'Georgia', sans-serif;
    color: #00303f;
    text-align: center;
    padding: 3%;
    font-size: 380%;
}
header a {
    text-decoration: none;
 }

/*style nav bar*/

#menu {
    font-size: 105%;
    letter-spacing: 1pt;
    line-height: 10%;
    background-color: #7aa1e9;
    text-align: center;
    font-weight: 300;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu li {
    display:inline-block;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color:#00303f;
    padding: 1em;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*section styling*/

body {
    color: #00303f;
    font-family: 'Heebo', sans-serif;
 }

a h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00303f;
    font-size: 180%;
    margin: 2%;
    text-align: center;
    
 }
body a {
    text-decoration: none;
}

    


/*resize images*/
img {
    width:100%;
    height: auto; 
}
/*style body*/

body{
    background-color: #cae4db;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
.formpage {
    

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.click-here{
    color: #7a9d96;
    background-color: whitesmoke;
    padding: 0.5%;
    position: relative;
}
/*make the footer the right size and area*/
footer{
    margin:2%;
    background-color:#7a9d96;
    text-align: center;
}

#education{
    text-align: center;
}


#contact {
    
    float: left;

}
.social-media > li {
    display: inline;
}

footer i {
    font-size: 150%;
    padding: 2%;
    color: #00303f ;
    
}