@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}




/*style header logo*/

.logo h1 {
    font-family: 'Georgia', sans-serif;
    color: #00303f;
    text-align: center;
    padding: 3%;
    font-size: 380%;
}
header a {
    text-decoration: none;
 }

/*style nav bar*/

#menu {
    font-size: 1.5em;
    line-height: 110%;
    background-color: #7aa1e9;
    text-align: center;
    font-weight: 250;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu li {
    display:inline-block;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color:#00303f;
    padding: 0.5em;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*section styling*/


a h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00303f;
    font-size: 180%;
    margin: 2%;
    text-align: center;
    
 }

/*resize images*/

#adopt img {
    width: 65%;
    max-height: 80vh;
    align-items: center;
    justify-items: center;
    display: block;
    margin: auto;
    padding: auto;
  
}

    

/*style body*/

body{
    color: #00303f;
    font-family: 'Heebo', sans-serif;
    background-color: #cae4db;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

.shape{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.formpage {
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

body a {
    text-decoration: none;
}

p{
    text-align: justify;
    padding-top: 0.5%;
    padding-bottom: 1%;
}

 /*align 'click-here' link in cats-for-adoption page*/

.click-here{
    display: block;
    
    background-color:#7aa1e9;
    margin-bottom: 2%;
    padding-top: 2%;
    text-align: center;
   
}

.click-here a {
     text-decoration: none ;
     color: black;
}

/*make the footer the right size and area*/
footer{
    
    background-color:#7a9d96;
    text-align: center;
}

#education{
    text-align: center;
}


#contact {
    
    float: left;

}
.social-media > li {
    display: inline;
}

footer i {
    font-size: 150%;
    padding: 2%;
    text-decoration: none;
    color: black;
    
}