@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Libre+Franklin:wght@400;600&family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

}

/*style header logo*/

.logo h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 3%;
    font-size: 380%;

}

header a {
    text-decoration: none;

 }

/*style nav bar*/

#menu {
    font-size: 1.5em;
    line-height: 110%;
    background-color: #FF9519;
    text-align: center;
    font-weight: 250;

}

#menu a {
    text-decoration: none;
    color: black;

}

#menu li {
    display:inline-block;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color:black;
    padding: 0.5em;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;

}

.active {
    border-bottom: 1px solid #3a3a3a;

}

/*section styling*/

header #topadopt {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;

}

a h2{
    font-family: 'Libre Baskerville', serif;
    color: #616161;
    font-size: 180%;
    margin: 4%;
    text-align: center;
    
 }

/*resize images*/

.homeimg img {
    width: 65%;
    max-height:max-content;
    align-items: center;
    justify-items: center;
    display: block;
    margin: auto;
    padding: 2%;
    border:1px solid #FF9519;
  
}

.catadopt img {
    width: 40%;
    max-height:max-content;
    align-items: center;
    justify-items: center;
    display: block;
    margin:auto;
    padding: 2%;
    border:1px solid #FF9519;
  
}   

/*style body*/

body{
    color: black;
    font-family: 'Libre Frankin', sans-serif;
    font-weight: 500;
    font-size: 110%;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    letter-spacing: 1pt;
    padding-bottom: 100px;
    

}

.shape {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 1%;

}


body a {
    text-decoration: none;

}

p {
    padding-top: 0.5%;
    padding-bottom: 3%;

} 

/*style cats-for-adoption page*/

dd {
    font-family:  'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 120%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;

}

dt {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border:1px solid #FF9519;
    font-size: 110%;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;

}

  /*style for contact-us page links on all pages*/

a h3{
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    font-size: 115%;
    margin: 4%;
    text-align: center;
    background-color: #FF9519;
    border-radius: 12pt;
}    

a h3:hover {
    background-color:#2295c7; 
    transition: 0.7s;

}

/*style form contact-us page*//* Responsive layout for
 contact-us page- when the screen is less than 600px wide*/

/*style submit button on form of contact-us page */
button 
{
        display:flex ;
        font-family: 'Libre Franklin', sans-serif;
        color: white;
        font-size: 115%;
        margin-left: 25%;
        margin-top: 15%;
        margin-bottom: 15%;
        text-align: center;
        background-color: #FF9519;
        border-radius: 12pt;
        padding: 2%;
}    


/* submit button on form and input effects */

button[type=submit]:hover {
    background-color:#2295c7;
    transition: 0.7s;

}  

input[type=text]:focus {
    border: 3px solid #2295c7;

}
 /*form style on form contact-us page*/

.contact-details {
    
    width: 100%;
    display: inline-block;
    text-align: center;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: 'Libre Baskerville', serif;
    
} 

.contact-details textarea #subject{
    margin-right: 10%;
    font-family: 'Libre Franklin', sans-serif;

}

select {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f7f2f2;
    border:1px solid #FF9519;

}

input[type=text], select, textarea {
    border-radius: 4px;
    resize: vertical;

  }

input[type=email] {
    border-radius: 4px;
    resize: vertical;

}

input[type=tel] {
    border-radius: 4px;
    resize: vertical;

}

input {
    border:1px solid #FF9519;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #f7f2f2;
    
}

#subject {
    border:1px solid #FF9519; 
    width: 100%;
    background-color: #f7f2f2;
    resize: none;

}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;

  }



/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;

  }

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;

}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;

  }

/* Responsive layout for contact-us page- when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] 
{
  width: 100%;
  margin-top: 0;
}
}  


/*footer with social media links */

footer {

    background: #555;
    height: auto;
    padding-top: 1%;
    color: white;
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #555;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    bottom: 0;
    margin-right: 10%;
    width: 100%;
    height: 2.5rem;    
    z-index: 2;    
}
 

footer ul i {
    text-decoration: none;
    color: white;
    
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 25px;
    font-size: 16px;
    color: white;
    background-color: #555;
}

.social-media{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.social-media li{
    margin: 0 10px;
    list-style: none;
    color: white;
}


.social-media a{
    text-decoration: none;
    color: white;
    padding: 5px;
    
}

.social-media a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.social-media a:hover i{
    color:#2295c7;
}

.footer-bottom{
    
    padding: 5px;
    text-align: center;
}

.footer-bottom p{
    align-items: center;
    font-size: 14px;
    word-spacing: 2px;
    
 }
    
.footer-menu{
   text-align: center;
   list-style:none;
   margin:0;
   padding:0;
   background: #FF9519;
}  

.footer-menu li{
    display: inline;
}
 
.footer-menu a {
   display: inline-block; 
   padding: 10px;
   color: white;
}

  
.footer-menu ul li a:hover{
    color:#2295c7; 
}

